body {
    font-family: 'Bahnschrift Light', sans-serif;
    font-size: 11px;
    background: linear-gradient(to right, red, black);
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
    background: rgba(0, 0, 0, 0.7);
}

.title {
    font-size: 28px;
    font-weight: bold;
    color: red;
    text-shadow: 0 0 5px red, 0 0 10px black;
}

.subtitle {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    color: rgb(202, 94, 94);
    text-shadow: 0 0 5px rgb(255, 0, 0), 0 0 10px rgb(10, 9, 9);
    margin-bottom: 80px;
}

.input-section {
    margin-bottom: 20px;
}

.section {
    margin-bottom: 20px;
    border: 1px solid #fff;
    padding: 10px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
}

textarea {
    width: 80%;
    height: 80px;
    margin-bottom: 10px;
    padding: 10px;
    font-family: 'Bahnschrift Light', sans-serif;
    font-size: 11px;
    border: none;
    border-radius: 5px;
}

button {
    padding: 8px 9px;
    background-color: #090808;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5px;
    margin-bottom: 30px;
}

button:hover {
    background-color: #ff0000;
}

.output-area {
    margin-top: 15px;
}

textarea[readonly] {
    background-color: #f1f1f1;
    cursor: not-allowed;
}

.footer {
    margin-top: 20px;
    font-size: 14px;
}

button.copy-checked {
    background-color: #00FF00;
}

.copy-btn {
    display: block;
    margin: 0 auto;
    width: 160px;
}

button.ready-paste {
    background-color: #00FF00;
    color: black;
    width: auto;
    padding: 10px;
}
